<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/main_layouts}">

<body layout:fragment="content">
<br>
<div class="container">
    <form th:action="@{/attendance}" method="post" th:object="${attendance}">
        <!--add type-->
        <div class="form-group">
            <label th:for="type">Attendance Type</label>
            <select th:field="*{type}" class="btn">
                <option th:each="attendanceType: ${attendanceT}"
                        th:text="${attendanceType.Type}"
                        th:value="${attendanceType}"></option>

            </select>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Student ID</th>
                <th scope="col">Name</th>
                <th scope="col">Lecture Attended</th>
                <th scope="col">Consecutive Missing</th>
                <th scope="col">Attendance</th>
            </tr>
            </thead>
            <tbody th:each="attendenceList : ${AttendenceList}">
            <tr>
                <th scope="row" th:text="${attendenceList.getId()}">1</th>
                <td th:text="${attendenceList.getStudentId()}"></td>
                <td th:text="${attendenceList.getStudentName()}"></td>
                <td th:text="${attendenceList.getTotalPresent()}"></td>
                <td th:text="${attendenceList.getTotalAbsent()}"></td>
                <td><input type="checkbox" name="id" th:value="${attendenceList.getStudentId()}"
                           th:id="${attendenceList.getStudentId()}"/></td>
            </tr>

            </tbody>
        </table>
        <button class="btn btn-success" type="submit">Save</button>

    </form>
</div>

</body>
</html>