<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/main_layouts}">


<body layout:fragment="content">

<div class="container" style="margin-top:80px">

    <!--<h1 th:text="${attendenceTitle}">Default Title</h1>-->
    <!--<h3 th:text="${title1}">Default Title</h3>-->
    <!--<h5 th:text="${title3}">Default Title</h5>-->
    <input class="form-control" id="myInput" type="text" placeholder="Search.."/>
    <br/>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Date And Time</th>
            <th>ID</th>
            <th>Name</th>
            <th>Type</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody id="myTable">
        <tr th:each="Student : ${attendences}">
            <td th:text="${#temporals.format(Student.dateTime, 'dd-MM-yyyy hh:mm:a')}"></td>
            <td th:text="${Student.getStudent().studentId}"></td>
            <td th:text="${Student.getStudent().studentName}"> </td>
            <td th:text="${Student.getType()}"> </td>
            <td th:text="${Student.getAttendenceStatus()}"></td>
        </tr>
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function(){
        $("#myInput").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>

</body>
</html>