<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/main_layouts}">

<!--<head th:replace="fragments :: head"></head>-->
<body layout:fragment="content">

<!--<nav th:replace="fragments :: navigation" ></nav>-->
<div class="container" style="margin-top: 70px">

    <div th:if="${not #lists.isEmpty(sectionList)}">
        <div class="row">
            <div th:each="Course : ${sectionList}">

                <div class="col-sm-13 m-lg-3">
                    <div class="card" style="background-color: #c8cbcf">
                        <div class="card-body">
                            <h4 th:text="${Course.getCourse().getCourseTitle()}"></h4>
                            <h5>Section <span class="badge badge-info" th:text="${Course.section}">New</span></h5>
                            <h5 th:text="${facultyName}"></h5>
                            <small>
                                <a th:href="'/home?ids=' + ${Course.id}" class="btn btn-outline-primary btn-sm">See
                                    Profile</a>
                                <a class="btn btn-outline-success btn-sm">Notification <span class="badge badge-danger">3</span></a>
                                <a class="btn btn-outline-info btn-sm">Message <span class="badge badge-danger">5</span></a>

                            </small>

                        </div>

                    </div>


                </div>

            </div>


        </div>

    </div>

    <div th:if="${ #lists.isEmpty(sectionList)}" class="container">
        <h1 class="jumbotron text-center">You are not register any course in this semester</h1>
    </div>


</div>

</body>
</html>
