<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/main_layouts}">


<body layout:fragment="content">
<div>

    <div class="jumbotron text-center">
        <h1 th:text="${courseTitle}"></h1>
        <h2 th:text="${title}"></h2>
        <h5>Department of Computer Science and Engineering</h5>
    </div>

    <div class="container">

        <div class="row">

            <div class="col-lg-3">
                <h1 class="my-4">Category List</h1>
                <div class="list-group">
                    <a href="/home" class="list-group-item">Announcement</a>
                    <a href="/assignment" class="list-group-item">Assignment</a>
                    <a href="/pollFacultyView" class="list-group-item active">Poll</a>
                </div>
            </div>
            <!-- /.col-lg-3 -->

            <div class="col-lg-9">


                <!-- /.card -->

                <div class="card card-outline-secondary my-4" th:each="poll : ${polls}">
                    <div class="card-header">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-6 text-left">
                                    <h5 th:text="${poll.section.faculty.facultyName}">
                                    </h5>
                                    <small class="text-muted"
                                           th:text="${#temporals.format(poll.issueDateTime, 'dd-MM-yyyy hh:mm:a')}"></small>
                                    <small class="text-danger col-12">Due:</small>
                                    <small class="text-danger"
                                           th:text="${#temporals.format(poll.dueDateTime, 'dd-MM-yyyy hh:mm:a')}"></small>
                                </div>
                                <a class="col-sm-2 text-right" href="#">
                                    Done
                                    <h2 th:text="${poll.totalDone}">10</h2>
                                </a>
                                <a class="col-sm-2 text-right" href="#">
                                    Not Done
                                    <h2>12</h2>
                                </a>
                                <a class="col-sm-2 text-right" href="#">
                                    Returned
                                    <h2 th:text="${poll.totalReturned}">5</h2>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <p th:text="${poll.question}">dsfsdf</p>
                        <small th:text="${poll.instruction}">sdfsdfsdf</small>
                        <p>
                        <ul class="list-group" th:each="option : ${poll.pollOptions}">
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <a th:text="${option.name}">adasd</a>
                                <span class="badge badge-primary badge-pill">14</span>
                            </li>
                        </ul>
                        <div th:if="${not #lists.isEmpty(poll.file)}">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">File Name</th>
                                    <th scope="col">Type</th>
                                    <th scope="col"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td th:text="${poll.fileName}">Mark</td>
                                    <td th:text="${poll.fileType}">Otto</td>
                                    <td>
                                        <a th:href="@{/download(id=${poll.id})}"
                                           class="btn btn-success">Download</a>
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                        </p>
                        <hr>
                        <form>
                            <div class="form-group">
                                <label for="comment">Comment:</label>
                                <textarea class="form-control" rows="1" id="comment"
                                          placeholder="Type your message here..."></textarea>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- /.card -->

            </div>
            <!-- /.col-lg-9 -->

        </div>
    </div>


</div>
</body>
</html>
