<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/main_layouts}">

<body layout:fragment="content">
<div class="container">
    <br>
    <h1>Student List</h1>
    <table class="table table-hover container-fluid">
        <thead >
        <tr>
            <th scope="col" >Name</th>
            <th scope="col">Id</th>
            <th scope="col">TotalLectureAttend</th>
        </tr>
        </thead>
        <tbody th:each="student : ${students}">
        <tr>
            <td th:text="${student.student.studentName}">Mark</td>
            <td th:text="${student.student.studentId}">Otto</td>
            <td>@mdo</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>