<header th:fragment="header">

    <!-- Modal -->
    <div th:fragment="attendanceModel" class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Attendence</h4>
                </div>
                <div class="modal-body">
                    <form action="attendance" method="get">
                        <input type="datetime-local" name="dateTime" th:value="${localDateTime}"/>
                        <input type="submit" value="SELECT"/>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
                aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <span style="font-size:25px;cursor:pointer; color: white" onclick="openNav()">&#9776; </span> &nbsp;&nbsp;&nbsp;
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0 text-white">

                <li class="nav-item" sec:authorize="hasRole('ROLE_STUDENT')">
                    <a class="nav-link" href="/studentCourses">Courses</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ROLE_FACULTY')" th:classappend="${#httpServletRequest.getRequestURI() == '/facultyCourses' ? 'active':''}">
                    <a class="nav-link" href="/facultyCourses">Courses</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ROLE_FACULTY')">
                    <a class="nav-link" href="/home">Home</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ROLE_STUDENT')">
                    <a class="nav-link" href="/studentHome">Home</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" href="/students">Students</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ROLE_FACULTY')">
                    <a class="nav-link" href="/about">About</a>
                <li class="nav-item" sec:authorize="hasRole('ROLE_FACULTY')">
                    <a class="nav-link" data-toggle="modal" data-target="#assignmentModel">Assignment</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ROLE_FACULTY')">
                    <a class="nav-link btn" data-toggle="modal" data-target="#announcementModel">Announcement</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ROLE_FACULTY')">
                    <a class="nav-link btn" data-toggle="modal" data-target="#attendanceModal">Attendance</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ROLE_FACULTY')">
                    <a class="nav-link btn" data-toggle="modal" data-target="#pollModal">Poll</a>
                </li>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ROLE_FACULTY')">
                    <div class="dropdown">
                        <a class="nav-link btn dropdown-toggle" data-toggle="dropdown">
                            Attendance Status
                        </a>
                        <div class="dropdown-menu">
                            <h5 class="dropdown-header">Check status</h5>
                            <a class="dropdown-item" href="/attendanceStatus">All status</a>
                            <a class="dropdown-item btn" data-toggle="modal" data-target="#showByDateModel">By date</a>
                            <a class="dropdown-item btn" data-toggle="modal" data-target="#showBetweenTwoDatesModel">Between
                                two date</a>
                            <h5 class="dropdown-header text-danger">Generate report</h5>
                            <a class="dropdown-item btn" data-toggle="modal" data-target="#reportByDateModel" >By date</a>
                            <a class="dropdown-item btn" data-toggle="modal" data-target="#reportBetweenTwoDateModel">Between Tow Dates</a>
                            <a class="dropdown-item" href="#">Full report</a>
                        </div>
                    </div>
                </li>

            </ul>
            <form class="form-inline my-2 my-lg-0" th:action="@{/logout}" method="post"
                  sec:authorize="isAuthenticated()">
                <small class="nav-link text-white" th:text="${courseTitle}">Advance Java</small>
                <li>
                    <div class="dropdown">
                        <a class="nav-link btn dropdown-toggle text-white" data-toggle="dropdown" th:text="${username}">
                            Attendance Status
                        </a>
                        <div class="dropdown-menu">
                            <button type="submit" class="dropdown-item" href="/attendanceStatus">LOGOUT</button>
                        </div>
                    </div>
                </li>
            </form>

        </div>
        <div id="mySidenav" class="sidenav">
            <div style="position: static">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()" style="font-size: 25px">&#9776;</a>

            </div>
            <div class="container">
                <a href="#" type="button" data-toggle="modal" data-target="#myModal" th:text="${attendance}"></a>
                <div th:each="Course : ${sectionList}">
                    <a href="#" th:text="${Course.getCourse().getCourseTitle()}">About</a>
                </div>

            </div>
        </div>
        <script>
            function openNav() {
                document.getElementById("mySidenav").style.width = "250px";
            }

            function closeNav() {
                document.getElementById("mySidenav").style.width = "0";
            }
        </script>

    </nav>

    <!--AnnouncementModel-->
    <div class="modal fade" id="announcementModel">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Announcement</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    <form th:action="@{/announcement}" th:object="${fileBucket}" method="post"
                          enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-sm-4 col-md-12">
                                <div class="thumbnail">
                                    <div class="caption">
                        <textarea th:field="*{announcements}" id="announcements" class="form-control"
                                  placeholder="Type your note here..."></textarea>
                                        <div class="form-group">
                                            <label for="file">File input</label>
                                            <input th:field="*{file}" type="file" class="form-control-file" id="file"
                                                   aria-describedby="fileHelp"/>
                                        </div>
                                        <button type="submit" class="btn btn-primary">POST</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>

    <!--AssignmentSubmitModel-->
    <div class="myForm">
        <form th:action="@{/assignmentSubmit}" method="post">
        <div class="modal fade" id="exampleModal5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Submit Assignment</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                            <div class="form-group">
                                <label for="id" class="col-form-label">ID:</label>
                                <input type="text" class="form-control" id="id" name="id" value="" />
                            </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-primary" value="SUBMIT"/>
                    </div>
                </div>
            </div>
        </div>
        </form>
    </div>

    <!--AssignmentModel-->
    <div class="modal fade" id="assignmentModel">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Assignment</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    <form th:action="@{/assignment}" th:object="${assignmentFileBucket}" method="post"
                          enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="title">Title</label>
                            <input type="text" class="form-control" id="title" placeholder="Enter title"
                                   th:field="*{title}"/>
                        </div>

                        <div class="form-group">
                            <label for="instruction">Instruction(Optional)</label>
                            <textarea th:field="*{instruction}" class="form-control" id="instruction"
                                      rows="3"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="file">File input</label>
                            <input th:field="*{file}" type="file" class="form-control-file" id="file"
                                   aria-describedby="fileHelp"/>
                        </div>
                        <div class="form-group">
                            <label for="#">Due</label>
                            <input th:field="*{dueDateTime}" type="datetime-local" id="#" name="dueDateTime" width="312"/>

                        </div>


                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>

    <!--PollModel-->
    <div class="modal fade" id="pollModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Poll</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    <form th:action="@{/assignment}" th:object="${assignmentFileBucket}" method="post"
                          enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="title">Question</label>
                            <input type="text" class="form-control" id="title" placeholder="Enter title"
                                   th:field="*{title}"/>
                        </div>

                        <div class="form-group">
                            <label for="instruction">Instruction(Optional)</label>
                            <textarea th:field="*{instruction}" class="form-control" id="instruction"
                                      rows="3"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="file">File input</label>
                            <input th:field="*{file}" type="file" class="form-control-file" id="file"
                                   aria-describedby="fileHelp"/>
                        </div>
                        <div class="form-group">
                            <label for="#">Due</label>
                            <input th:field="*{dueDateTime}" type="datetime-local" id="#" name="dueDateTime" width="312"/>

                        </div>


                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
    <!--Attendance Model-->
    <!-- Modal -->
    <div class="modal fade" id="attendanceModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Attendence</h4>
                </div>
                <div class="modal-body">
                    <form action="attendance" method="get">
                        <input type="datetime-local" name="dateTime" th:value="${localDateTime}"/>
                        <input type="submit" value="SELECT"/>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    <!--showAttendanceByDateModel-->
    <div class="modal fade" id="showByDateModel">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Pic your date</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <form action="/attendencesByDate" method="get">
                    <!-- Modal body -->
                    <div class="modal-body">

                        <input type="text" id="date" name="date" width="276"/>

                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-secondary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--showBetweenTwoDatesModel-->
    <div class="modal fade" id="showBetweenTwoDatesModel">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Pic your date</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <form action="/attendencesBetweenTwoDates" method="get">
                    <!-- Modal body -->
                    <div class="modal-body">

                        <input type="text" id="date1" name="date1" width="276" placeholder="Form..."/>
                        <input type="text" id="date2" name="date2" width="276" placeholder="To..."/>

                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-secondary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--reportByDateModel-->
    <div class="modal fade" id="reportByDateModel">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Chose date</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <form action="/reportByDate" method="get">
                    <!-- Modal body -->
                    <div class="modal-body">

                        <input type="text" id="reportBydate" name="date" width="276"/>

                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-secondary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
        $('#date').datepicker({
            uiLibrary: 'bootstrap4'
        });
    </script>
    <script>
        $('#date1').datepicker({
            uiLibrary: 'bootstrap4'
        });
    </script>
    <script>
        $('#date2').datepicker({
            uiLibrary: 'bootstrap4'
        });
    </script>
    <script>
        $('#reportBydate').datepicker({
            uiLibrary: 'bootstrap4'
        });
    </script>

    <script>
        $('#dateTimePicker').datetimepicker({ footer: false, modal: false});
    </script>
</header>