<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        body {
            font-family: "Lato", sans-serif;
        }
        .sidenav {
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #1C1C1C;
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 60px;
        }
        .sidenav a {
            padding: 8px 8px 8px 32px;
            text-decoration: none;
            font-size: 25px;
            color: #818181;
            display: block;
            transition: 0.3s;
        }
        .sidenav a:hover {
            color: #f1f1f1;
        }
        .sidenav .closebtn {
            position: absolute;
            top: 0;
            left: -70px;
            font-size: 36px;
            margin-left: 50px;
        }
        @media screen and (max-height: 450px) {
            .sidenav {
                padding-top: 15px;
            }
            .sidenav a {
                font-size: 18px;
            }
        }
    </style>
</head>
<body>


<div>
    <!-- Modal -->
    <div th:fragment="attendanceModel" class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Attendence</h4>
                </div>
                <div class="modal-body">
                    <form action="attendance" method="get">
                        <input type="datetime-local" name="dateTime" th:value="${localDateTime}"/>
                        <input type="submit" value="SELECT"/>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    <!--Top Navigation bar-->
    <nav th:fragment="navigation" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header" style="margin-top: 7px">
                <span style="font-size:25px;cursor:pointer; color: white" onclick="openNav()">&#9776; </span>
            </div>
            <div class="navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="/home" th:text="${home}">Home</a></li>
                    <li><a href="/students" th:text="${students}">Students</a></li>
                    <li><a href="/about" th:text="${about}">About</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a th:text="${courseTitle}"></a></li>
                    <li><a href="/"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
                </ul>
            </div>
        </div>


        <div id="mySidenav" class="sidenav">
            <div style="position: static">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()" style="font-size: 25px">&#9776;</a>

            </div>
            <div class="container">
                <a href="#" type="button" data-toggle="modal" data-target="#myModal" th:text="${attendance}"></a>
                <div th:each="Course : ${sectionList}">
                    <a href="#" th:text="${Course.getCourse().getCourseTitle()}">About</a>
                </div>

            </div>
        </div>
        <script>
            function openNav() {
                document.getElementById("mySidenav").style.width = "250px";
            }
            function closeNav() {
                document.getElementById("mySidenav").style.width = "0";
            }
        </script>

    </nav>
</div>

</body>
</html>
