<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:text="${title}"> Default title</h1>



<form action="courses" method="get" style="max-width:600px;" th:object="${cheese}">

    <div class="form-group">
        <label th:for="name">Faculty Id</label>
        <input class="form-control"  name="id" placeholder="ex: 11111 to 11119"/>
        <span  class="error"></span>
    </div>

    <input type="submit" value="Login"  />
</form>

</body>
</html>
