<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/main_layouts}">


<body layout:fragment="content">
<div>

    <div class="jumbotron text-center">
        <h1 th:text="${courseTitle}"></h1>
        <h2 th:text="${title}"></h2>
        <h5>Department of Computer Science and Engineering</h5>
    </div>
    <div th:replace="fragments :: attendanceModel"></div>
    <div class="container">

        <div class="row">
            <div class="col-lg-3">
                <h1 class="my-4">Category List</h1>
                <div class="list-group">
                    <a href="/studentHome" class="list-group-item">Announcement</a>
                    <a href="/studentAssignment" class="list-group-item active">Assignment</a>
                    <a href="#" class="list-group-item">Poll</a>
                </div>
            </div>

            <div class="col-lg-9">


                <!-- /.card -->

                <div class="card card-outline-secondary my-4" th:each="assignment : ${assignments}">
                    <div class="card-header">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-6 text-left">
                                    <h5 th:text="${assignment.section.faculty.facultyName}">
                                    </h5>
                                    <small class="text-muted"
                                           th:text="${#temporals.format(assignment.issueDateTime, 'dd-MM-yyyy hh:mm:a')}"></small>
                                    <small class="text-danger col-12">Due:</small>
                                    <small class="text-danger"
                                           th:text="${#temporals.format(assignment.dueDateTime, 'dd-MM-yyyy hh:mm:a')}"></small>
                                </div>
                                <a th:href="@{/findOne/(id=${assignment.id})}" class="btn btn-lg btn-block btn-info col-sm-6  eBtn">Submit</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <h4 ><b th:text="${assignment.title}"></b></h4>
                        <hr>
                        <p th:text="${assignment.instruction}"></p>
                        <p>
                        <div th:if="${not #lists.isEmpty(assignment.file)}">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">File Name</th>
                                    <th scope="col">Type</th>
                                    <th scope="col"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td th:text="${assignment.fileName}">Mark</td>
                                    <td th:text="${assignment.fileType}">Otto</td>
                                    <td>
                                        <a th:href="@{/assignmentDownload(id=${assignment.id})}"
                                           class="btn btn-success">Download</a>
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                        </p>
                        <hr>
                        <form>
                            <div class="form-group">
                                <label for="comment">Comment:</label>
                                <textarea class="form-control" rows="1" id="comment" placeholder="Type your message here..."></textarea>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- /.card -->

            </div>
        </div>
    </div>
</div>
</body>
</html>
