<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/main_layouts}">

<body layout:fragment="content">
<div class="container" style="margin-top: 70px">

    <div th:if="${not #lists.isEmpty(registrations)}">
        <div class="row">
            <div th:each="registration : ${registrations}">

                <div class="col-sm-13 m-lg-3">
                    <div class="card" style="background-color: #c8cbcf">
                        <div class="card-body">
                            <h4 th:text="${registration.section.course.courseTitle}"></h4>
                            <h5>Section <span class="badge badge-info" th:text="${registration.section.section}">New</span></h5>
                            <h5 th:text="${registration.section.faculty.facultyName}"></h5>
                            <small>
                                <a th:href="'/studentHome?id=' + ${registration.section.id}"
                                   class="btn btn-outline-primary btn-sm">See
                                    Profile</a>
                                <a class="btn btn-outline-success btn-sm">Notification <span class="badge badge-danger">3</span></a>
                                <a class="btn btn-outline-info btn-sm">Message <span class="badge badge-danger">5</span></a>

                            </small>

                        </div>

                    </div>


                </div>

            </div>


        </div>

    </div>

    <div th:if="${ #lists.isEmpty(registrations)}" class="container">
        <h1 class="jumbotron text-center">You are not register any course in this semester</h1>
    </div>


</div>

</body>
</html>