<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/main_layouts}">


<body layout:fragment="content">
<div>

    <div class="jumbotron text-center">
        <h1 th:text="${courseTitle}"></h1>
        <h2 th:text="${title}"></h2>
        <h5>Department of Computer Science and Engineering</h5>
    </div>

    <div class="container">

        <div class="row">

            <div class="col-lg-3">
                <h1 class="my-4">Category List</h1>
                <div class="list-group">
                    <a href="/studentHome" class="list-group-item active">Announcement</a>
                    <a href="/studentAssignment" class="list-group-item">Assignment</a>
                    <a href="/#" class="list-group-item">Poll</a>
                </div>
            </div>
            <!-- /.col-lg-3 -->

            <div class="col-lg-9">


                <!-- /.card -->

                <div class="card card-outline-secondary my-4" th:each="announcement : ${announcementList}">
                    <div class="card-header">
                        <h5 th:text="${announcement.section.faculty.facultyName}">
                        </h5>
                        <small class="text-muted"
                               th:text="${#temporals.format(announcement.postDateTime, 'dd-MM-yyyy hh:mm:a')}"></small>
                    </div>
                    <div class="card-body">
                        <p th:text="${announcement.announcements}"></p>
                        <p>
                        <div th:if="${not #lists.isEmpty(announcement.file)}">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">File Name</th>
                                    <th scope="col">Type</th>
                                    <th scope="col"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td th:text="${announcement.fileName}">Mark</td>
                                    <td th:text="${announcement.fileType}">Otto</td>
                                    <td>
                                        <a th:href="@{/download(id=${announcement.id})}"
                                           class="btn btn-success">Download</a>
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                        </p>
                        <hr>
                        <form>
                            <div class="form-group">
                                <label for="comment">Comment:</label>
                                <textarea class="form-control" rows="1" id="comment" placeholder="Type your message here..."></textarea>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- /.card -->

            </div>
            <!-- /.col-lg-9 -->

        </div>
    </div>


</div>
</body>
</html>
